
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f8f6f3;
    border: 20px solid #fff;
    box-sizing: border-box;
}

canvas {
    left: 50%;
    margin-left: -200px;
    position: absolute;
}

.dribbble {
    background: url('../images/dribbble.png') left center no-repeat;
    color: #666;
    display: block;
    height: 75px;
    right: 30px;
    position: absolute;
    padding-left: 50px;
    bottom: 30px;
    width: 150px;
}

.dribbble {
    font: 100 12px/75px Helvetica, Arial;
}